body{
  scroll-behavior:auto;
}

.block1{
  width: 100px;
  height: 100px; 
}



.block1{
  background-color: rgb(32, 182, 187);
}
.block1{
  position:sticky;
  bottom: 100px;
  right: 50px;
  left: 50vw;
}

.block2{
  width: 100px;
  height: 100px; 
}



.block2{
  background-color: green;
}
.block2{
  position: fixed;
  bottom: 100px;
  right: 50px;
  left: 50vw;
}