body h1 {
    color: green;
  }
h1 {
    color: blueviolet;
}


div#test1 span { color: green }
div span { color: blue }
span { color: red }

div.outer p {
    color: orange;
  }
div.outer {
    color: lime;
  }