.body{
    background-color: #444;
    color: #fff;
    font-weight: sans-serif;
}
.wrapper{
    padding: 50px;
    min-height: 100%;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}
.grid{
    margin-bottom: 200px;
    padding-bottom: 200px;
    border-bottom: 10px solid #333;
    min-height: 100vh;
}
.menu_item{
    border: 5px solid rgb(78, 129, 30);
    font-size: 40px;
    padding: .8em;
    text-align: center;
    box-shadow: 0px 5px 15px #05ee05;;
}
.grid-1{
    display: grid;
    
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.One:hover {
    background: #e6131344;
    color: rgba(243, 14, 14, 0.267);
    }