@font-face {
    font-family: "LTLeap-Medium";
    font-weight: 500;
    font-style: normal;
    src: 
        local("LTLeap-Medium"),
        local("LTLeapMedium"),
        url(../fons/LTLeap-Medium.woff2) format("woff2");
        url(../fons/LTLeap-Medium.woff) format("woff"),
        url(../fons/LTLeap-Medium.eot) format("eot"),
    font-display: swap;
  }


h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-style: italic;
}
h2{
    font-family: "LTLeap-Medium", sans-serif;
    font-size: 800;
}
